*venv/*
*.venv*
*/.vscode/*
*/.idea/*
*/.git/*
*/.gitignore/*
*/.gitattributes/*
*/.gitmodules/*
*/.gitkeep
*/.venv/*
*/.vscode/*
Pipfile
Pipfile.lock
**/__pycache__/*
*/.config*
*.npy
Lab_6/raw_pdf_data/*
*.env
